.DS_store
Medical Q&A-Class-edit.ipynb
Medical Q&A-has-voting.ipynb
.ipynb_checkpoints
Employee Burnout Classification-checkpoint.ipynb
Employee Burnout Regression-checkpoint.ipynb
Medical Q&A-Class-edit-checkpoint.ipynb
Medical Q&A-checkpoint.ipynb
Medical Q&A-has-voting-checkpoint.ipynb
